body { background: #7cb4f; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 54px; display: flex; }
.block-payment-0 { color: #86dde8; font-size: 20px; margin-bottom: 5px; }
.block-config-1 { color: #ce761e; font-size: 19px; margin-bottom: 5px; }
.block-shipping-2 { color: #754015; font-size: 17px; margin-bottom: 5px; }
.block-validator-3 { color: #bca570; font-size: 18px; margin-bottom: 5px; }
.block-search-4 { color: #9b451b; font-size: 20px; margin-bottom: 5px; }
.block-cluster-5 { color: #53f437; font-size: 19px; margin-bottom: 5px; }